.search {
  height: 10vh;
  width: 100%;
  padding: 8rem;
  justify-content: center;
  position: relative;
    display: flex;
}

.search input {
    width: 85vh;
    height: 6vh;
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
